[package]
name = "parser"
version = "0.1.0"
edition.workspace = true
license.workspace = true
publish = false

[dependencies]
thiserror = { workspace = true }
serde = { workspace = true }
csv = { workspace = true }

[dev-dependencies]
tempfile = "3.10"
