[package]
name = "converter"
edition.workspace = true
license.workspace = true
version.workspace = true
publish = false

[dependencies]
clap = { workspace = true, features = ["derive"] }
anyhow = { workspace = true }
parser = { path = "../../crates/parser" }
