name: ci

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  ci:
    runs-on: ubuntu-latest
    env:
      CARGO_TERM_COLOR: always

      # sccache
      RUSTC_WRAPPER: sccache
      SCCACHE_GHA_ENABLED: "true"

    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - name: Install sccache
        uses: mozilla-actions/sccache-action@v0.0.5

      - name: Rust cache
        uses: Swatinem/rust-cache@v2

      - name: CI (xtask)
        run: cargo run -p xtask -- ci

      - name: sccache stats
        run: sccache --show-stats
